/* Initial styling */

main {
  padding: 16px 32px;
}

section ul {
  padding: 0;
  display: grid;
  grid-gap: 16px;
  list-style: none;
  grid-template-columns: 1fr 1fr 1fr;
}

li {
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #333333;
  border: 1px solid rgb(160, 160, 160);
}

form {
  display: flex;
  align-items: center;
}

form * {
  margin-right: 12px;
}

input,
button {
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid rgb(160, 160, 160);
}

.search-meta {
  color: rgba(255, 255, 255, 0.5);
}

.main {
  background-color: #242424;
  color: white;
  border-radius: 10px;
  padding: 25px;
}

.starshipCard {
  background-color: grey;
  width: 30%;
  background-color: #333333;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
}

.starshipCardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.searchDiv {
  margin-bottom: 20px;
}
